.square {
  height: 50px;
  width: 50px;
  background-color: #897e7e;
  text-align: center;
  vertical-align: middle;
}

.align-left:first-child {
  float: left;
  border: 0.5px solid #7a6666;
  text-align: center;
  vertical-align: middle;
}

.align-left {
  float: left;
  border-top: 0.5px;
  border-right: 0.5px;
  border-bottom: 0.5px;
  border-color: #7c6565;
  text-align: center;
  vertical-align: middle;
}

.align-left {
  border-style: solid;
  border-width: 0.25px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.fa-bomb {
  color: #aa2525;
  display: inline-block;
  padding-top: 5px;
  font-size: 2em;
}

.fa-flag {
  color: #eaea4d;
  display: inline-block;
  padding-top: 8px;
  font-size: 2em;
}

.fa-question {
  color: #eaea4d;
  display: inline-block;
  padding-top: 7px;
  font-size: 2em;
}

.mines-near-me {
  color: white;
  display: inline-block;
  padding-top: 3px;
  font-size: 2em;
}