.won {
  color: darkgreen;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.lost {
  color: #aa2525;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.mine-text {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 30px;
}